.animated-progress {
  animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes dot_one {
  0% {
    bottom: 0px
  }

  30% {
    bottom: 12px
  }

  70% {
    bottom: 0px
  }

  100% {
    bottom: 0px
  }
}

@keyframes dot_two {
  0% {
    bottom: 0px
  }

  40% {
    bottom: 12px
  }

  80% {
    bottom: 0px
  }

  100% {
    bottom: 0px
  }
}

@keyframes dot_three {
  0% {
    bottom: 0px
  }

  50% {
    bottom: 12px
  }

  90% {
    bottom: 0px
  }

  100% {
    bottom: 0px
  }
}

/* /// */

@keyframes dot_n_one {
  0% {
    opacity: 1;
    font-size: 18px;
    color: #858585
  }

  50% {
    opacity: 0.8;
    font-size: 8px
  }

  100% {
    font-size: 18px;
    opacity: 1;
    color: #cbcbcb;
  }
}

@keyframes dot_n_two {
  0% {
    font-size: 8px;
    opacity: 0.8;
  }

  50% {
    opacity: 1;
    font-size: 18px
  }

  100% {
    opacity: 0.8;
    font-size: 8px;
    color: #858585
  }
}

@keyframes dot_n_three {

  0% {
    font-size: 18px;
    opacity: 1;
    color: #858585
  }

  50% {
    opacity: 0.8;
    font-size: 8px
  }

  100% {
    opacity: 1;
    color: #cbcbcb;
    font-size: 18px
  }
}